src/__pycache__/__init__.cpython-38.pyc
src/__pycache__/parse_html.cpython-38.pyc
.vscode/settings.json
test/__pycache__/__init__.cpython-38.pyc
test/__pycache__/test_parse_html.cpython-38-pytest-7.3.1.pyc
.python-version
